body {
  font-family: 'Open Sans', sans-serif;
  color: #212529;
}
.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px 20px;
}
.section {
  flex: 1;
  padding: 0px 20px;
}
.generated-list__wrap {
  flex: 1;
}
.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.form__groups {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.form__control {
  font-family: 'Open Sans', sans-serif;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 5px 10px;
  transition: all .2s;
}
.form__group .form__control {
  margin-left: 10px;
}
.form__control:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 4px rgb(13 110 253 / 25%);
}
.json-content {
  min-height: 450px;
  margin-top: 5px;
}
.btn {
  font-size: 16px;
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 20px 0px 0px 0px;
}
.btn:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}
.generated-list__title {
  font-size: 24px;
}
.generated-list__content {
  margin-top: 47px;
}
.error {
  color: red;
}
.list {
  width: 100%;
  max-width: 578px;
  list-style: none;
  border: 1px solid #ced4da;
  overflow: hidden;
  padding-left: 20px;
  margin-bottom: -1px;
  cursor: pointer;
}
.list__name {
  font-weight: 600;
  padding: 5px 0px;
}
.list__name:before {
  content: '+';
  display: inline-block;
  width: 10px;
  text-align: center;
  margin: 0px 5px;
}
.list--active > .list__name:before {
  content: '-';
}
.list__content {
  display: none;
}
.list--active > .list__content {
  display: block;
}
.list__item {
  border: 1px solid #ced4da;
  padding: 5px 20px;
  margin-bottom: -1px;
}
